body {
    background-color: #3d3c3c;
    margin: 0 !important;
}

.logo>h2 {
    color: wheat;
    text-align: center;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 10px 10px;
    background-color: rgb(170, 66, 66);
    text-align: center;
}

.submenus {
    background-color: rgb(202, 202, 131);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.submenus>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 200%;
}

.submenus>ul>li {
    float: left;
    width: 19.5%;
    color: #ffffff;
    border-right: 1px dashed black;
}

.submenus>ul>li:first-child {
    border-left: 1px dashed black;
}

.submenus>ul>li:hover {
    background-color: #c26363;
}

.submenus>ul a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}


/* Artykul */

.return {
    text-align: center;
    font-size: large;
    font-style: italic;
}

.return a {
    text-decoration: none;
    color: #ffffff;
}

.return:hover {
    background-color: rgb(170, 66, 66);
}

.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #585858;
    color: #ffffff;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
    color: #ffffffde;
}

.content>article>ol>li {
    font-size: xx-large;
    font-style: italic;
}

.content>article>ol>ul>li {
    font-size: large;
    list-style-type: none;
    font-style: italic;
}

.content>article>ol>ul>ol>li {
    color: rgb(202, 202, 131);
    list-style-type: lower-latin;
    font-size: medium;
}

.content>article>ol>ul>ol>li>p {
    text-align: justify;
}

.content>article>ol>li>a {
    color: white;
}

.image {
    padding: 5px;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}


/* tabelka */

.content>article>table {
    width: 100%;
    border-collapse: collapse;
}

.content>article>table th {
    border: 2px solid #000000;
    text-align: center;
}

.content>article>table,
td,
th {
    border: 2px solid #000000;
    text-align: center;
}


/* Nasze książki */

.search {
    width: 30%;
    padding: 5px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.record {
    float: left;
    width: 75%;
}

.button {
    float: left;
    width: 25%;
}

.button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

#List {
    padding: 4px 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#List>table {
    width: 100%;
    border-collapse: collapse;
}

#List>table th {
    background-color: blueviolet;
}

#List>table tr:nth-child(odd) td {
    background-color: #8a8a8a98;
}