body {
    background-color: #3d3c3c;
    margin: 0 !important;
}

.logo>h1 {
    color: wheat;
    text-align: center;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 75%;
    max-width: 1000px;
    padding: 10px 10px;
    background-color: rgb(170, 66, 66);
    text-align: center;
}

#menu>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 200%;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#menu>ul>li {
    float: left;
    width: 19.5%;
    color: #ffffff;
    border-right: 1px dashed black;
}

#menu>ul>li:first-child {
    border-left: 1px dashed black;
}

#menu>ul>li:hover {
    background-color: #c26363;
}

.current {
    background-color: #c26363;
}

#menu>ul a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.spacer {
    width: 100%;
    height: 10px;
}


/* Artykul */

.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    background-color: #585858;
    color: #ffffff;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
    color: #ffffffde;
}

p {
    text-align: justify;
}

.firstPara {
    text-align: justify;
}

.firstPara::first-letter {
    float: left;
    font-size: 60px;
    /* inne jednostki */
    color: rgba(238, 18, 18, 0.699);
    padding-right: 4px;
    line-height: 0.4;
}

.content>article ol {
    counter-reset: item;
    padding: 10px;
}

.content>article li {
    font-size: large;
    font-variant: small-caps;
    display: block;
}

.content>article li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

.content>article ol>li>ol>li {
    font-size: medium;
    font-style: italic;
    font-variant: normal;
}

.content>article ol>li>ol>li>ol>li {
    font-size: small;
    font-variant: small-caps;
    font-style: normal;
}

.image {
    padding: 5px;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}


/* tabelka */

.content>article>table {
    width: 100%;
    border-collapse: collapse;
}

.content>article>table th {
    border: 2px solid #000000;
    text-align: center;
}

th,
td {
    border: 2px solid #330000;
    text-align: center;
}


/* Nasze książki */

.search {
    width: 40%;
    padding: 5px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.search>input[type='button'] {
    width: 100px;
    border-radius: 10px;
    border: solid 2px #FFF;
    background-color: rgb(170, 66, 66);
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
}

#list {
    padding: 4px 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#list>table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

#list>table th {
    background-color: rgb(170, 66, 66);
}

#list>table tr:nth-child(odd) td {
    background-color: #8a8a8a3b;
}


/* Rejestracja */

.form {
    width: 50%;
    max-width: 500px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #ffffffde;
    background-color: #585858;
    color: white;
    /* text-align: center; */
}

fieldset {
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type=text],
input[type=password],
input[type=email],
select {
    margin-top: 7.5px;
    color: rgb(65, 46, 65);
    width: 60%;
    border: 2px solid rgb(170, 66, 66);
    border-radius: 10px;
    font-size: 15px;
}

label.sex {
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(170, 66, 66);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox'] {
    float: left;
    margin: 4px;
    cursor: pointer;
}

input[type='checkbox']:checked:after {
    width: 10px;
    height: 10px;
    background-color: rgb(170, 66, 66);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='submit'] {
    margin-top: 7px;
    width: 100%;
    background: rgb(170, 66, 66);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.postCode>label>input {
    width: 10px;
    display: inline;
}

label>span {
    width: 30%;
    display: inline-block;
}


/* Kontakt */

.box {
    margin-top: 100px;
    width: 600px;
    padding: 20px 20px;
    border-radius: 10px;
    border: 2px solid #ffffff9a;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #585858;
}

.contact {
    text-align: center;
    float: left;
    width: 200px;
}

.contact>li {
    list-style: none;
}

.fb-like {
    width: 300px;
}

.map {
    width: 360px;
    height: 215px;
    float: right;
}